.app__PhotoChart{
    position: absolute;
    color: var(--color-white);
    bottom: 1rem;
    right: 4rem;

    display: flex;
    justify-content: flex-end;

}
.app__PhotoChart-txt {
    list-style: none;
    margin-right: 1rem;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.app__PhotoChart-txt:last-child{
    margin-right: 0;
}
.app__PhotoChart-txt img{
    max-width: 100%;
    margin-right: 6px;
}



@media screen and (max-width: 1150px){
    .app__PhotoChart{
        justify-content: center;
        right: 0;
        left: 0;
        padding: 1rem;
    }
}