.sub-form {
  background: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
    justify-content: center;
    align-items: center
}
.sub-form label>input{
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-white);
}

.sub-form > .app__btn{
  margin: 0;
}