.p__opensans {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 14px;
}
.app__forth-title {
  font-family: var(--font-base);
  font-size: 1.1rem;
  color: var(--color-gray);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}
.app__third-title {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 1.53rem;
  line-height: 30px;
  color: var(--color-gray);
}
.app__second-title {
  font-family: var(--font-base);
  font-size: 54px;
  color: var(--color-white);
  letter-spacing: 6px;
  font-weight: 400;
}
.app__txt {
  font-family: var(--font-base);
  font-size: 1rem;
  color: var(--color-gray);
  letter-spacing: 2px;
  font-weight: 400;
}
.app__btn {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
  background: var(--color-white);
  border-radius: 1rem;
  cursor: pointer;
  border: 0;
  margin-top: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.app__btn-black{
  background: var(--color-black);
  color: var(--color-white);
}
.app__title-section {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 1rem;
}
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px){

  .app__second-title {
    font-size: 2.3rem;

}
}